*{
    margin: 10px;
    padding: 0;
    font-family: sans-serif;

    background-color: rgb(31, 31, 31);
}

.gallery{
    --gap: 16px;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);    
}

.gallery img{
    position: relative;
    margin: 10px;
    height: 400px;

    filter: grayscale(80%) contrast(50%);
    border-radius: 20px;

    object-fit: cover;

    transition: 0.5s;
}

.gallery img:hover{
    filter: grayscale(0) contrast(100%);
    border-radius: 3px;
}

.gallery img::after{
    filter: grayscale(80%) contrast(50%);
    border-radius: 20px;
    
    width: 500px;
    height: 500px;
}